#blue {
    background-color: blue;
}
#red {
    background-color: red;
}
#green {
    background-color: green;
}
#green:hover {
    background-color: yellow;
}
 .size{  
     display: inline-block;
     width: 300px;
     height: 300px;
} 
