<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Animals</title>
</head>
<body>
    <h1>All Animals</h1>
    
    {% for animal in all_animals %}
      <ul>
          <li>name: {{animal.name}}</li> 
          <li>legs: {{animal.legs}}</li> 
          <li>speed: {{animal.speed}}</li> 
          <li>family: {{animal.family.name}}</li> 
          <a href="{% url 'single_animal' animal.id %}">View animal {{animal.name}}</a>
          <hr>
    </ul>
    {% endfor %}
    
</body>
</html>