#container{
    display: flex;
    background-color:lightseagreen;
}
#left{
    width:20%;
    height:100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;

}
#main{
    width:80%;
    height:100%;
    display:flex;
    flex-wrap: wrap;
}
.box{
    width:20px;
    height:20px;
    background-color:white;
    margin:1px;
}
.color{
    width:100px;
    height:100px;
    margin:2px;
}
#clear{
    width:80%;
    height:100px;
    margin-bottom: 5px;
    font-size: 3em;
}